.cCard {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 10px;
}
.cCard .card_front, .cCard .card_back {
    width: calc(100% - 60px);
    height: auto;
    background-color: rgb(50, 50, 50);
    border-radius: 12px;
    display: flex;
    box-sizing: border-box;
    padding: 20px 30px;
    flex-direction: column;
    align-content: space-around;
}
.card_top {
    width: auto;
    height: 20px;
}
.card_front img {
    width: 60px;
    height: 40px;
    border-radius: 10px;
}
.cCard span {
    color: white;
    line-height: 1rem;
}
.card_front .card_number {
    font-size: 28px;
    margin-top: 15px;
}
.card_front .card_ref {
    font-size: 12px;
    /* line-height: 1rem; */
    margin-top: 2px;
    text-transform: uppercase;
}
.expire {
    display: flex;
    align-items: center;
    margin-left: 120px;
    margin-top: 0px;
}
.valid_thru {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.valid_thru .valid, .valid_thru .thru {
    font-size: 11px;
    line-height: .9rem;
}
.expire .expire_val {
    font-size: 20px;
    padding-left: 10px;
}
.card_front .card_name {
    font-size: 21px;
    margin-top: 5px;
    text-transform: uppercase;
}
.card_back .black {
    width: 100%;
    height: 40px;
    background-color: black;
}
.cvc {
    margin-top: 15px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: white;
}
.cvc span {
    color: black;
    padding-right: 20px;
    font-size: 20px;
}
.bottom {
    margin-top: 20px;
}
@media screen and (max-width: 459px) {
    .cCard .card_front, .cCard .card_back {
        width: calc(100% - 10px);
    }
    .card_front .card_number {
        font-size: 25px;
    }
    .expire {
        margin-left: 100px;
    }
}