.app_wrapper .popup_container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    z-index: 10000;
    top: 0%;
    overflow-x: hidden;
    justify-content: space-between;
}
.popup_container .popup_dummy {
    width: calc(100% - 500px);
    height: 100%;
    background-color: rgba(27,27,27,0.75);
}
.popup_container .popup_main {
    width: 500px;
    height: 100%;
}
