.login {
    width: 100%;
    height: 100%;
    background: #062863;
    box-sizing: border-box;
    display: flex;
    padding-bottom: 20px;
    overflow-y: scroll;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.brand {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.brand img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.brand h1 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.login .login_wrapper {
    width: 40rem;
    margin-top: 20px;
}
.login_wrapper {
    background-color: #fff;
    height: auto;
    border-radius: 20px 20px 20px 0px;

}
.login_wrapper .login_content {
    width: 100%;
    box-sizing: border-box;
    padding: 30px 50px;
    height: auto;
}
.login_content {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.login_content h1 {
    text-align: center;
    font-size: 20px;
    line-height: 1rem;
    color: #062863;
}
.login_content .login_small {
    font-size: 16px;
    color: #aeaeae;
    text-align: center;
    line-height: 1.5rem;
}
.login_base {
    margin-top: 30px;
    /* z-index: 500; */
    box-sizing: border-box;
    height: auto;
    padding: 10px 0px;
    border-width: 1px;
}
.login_base input, .login_base .loading {
    width: 100%;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    box-sizing: border-box;
    border-radius: 5px 5px 5px 0px;
    padding: 15px 0px;
    background-color: rgb(34,149,242);
    cursor: pointer;
} 
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupLink, .forgot {
    font-size: 17px;
    color: white;
    line-height: 1rem;
    margin-top: 40px;
}

@media screen and (max-width: 700px) {
    .login .login_wrapper {
        width: 92%;
    }
}
@media screen and (max-width: 450px) {
    .login_wrapper .login_content {
        width: 100%;
        box-sizing: border-box;
        padding: 30px 20px;
        height: auto;
    }
}